includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    ignoreErrors:
        - '#uses generic trait Illuminate\\Database\\Eloquent\\Factories\\HasFactory but does not specify its types: TFactory#'
    level: 6
    paths:
        - app
        - routes
        - database
    excludePaths:
        - storage
        - bootstrap/cache
